PORT=7860

# MUST point to deployed Space
API_BASE_URL=https://ramcharan2905-hospital-resource-env.hf.space
ENV_BASE_URL=https://ramcharan2905-hospital-resource-env.hf.space

# Leave empty for user to fill
HF_TOKEN=

MODEL_NAME=gpt-4o